In [2]:
import pandas as pd

In [ ]:
# reading all the datasets
df= pd.read_csv("D:\\grey work\\data_sets\\mckinesy_recommendation_dataset\\mckinesy_recommendation_dataset\\train.csv")
challenge_df = pd.read_csv("D:\\grey work\\data_sets\\mckinesy_recommendation_dataset\\mckinesy_recommendation_dataset\\challenge_data.csv")
test_df= pd.read_csv("D:\\grey work\\data_sets\\mckinesy_recommendation_dataset\\mckinesy_recommendation_dataset\\test.csv")

In [3]:
#taking first 250k samples from train data
df= df[:250000]
df= df[["user_id","challenge"]]

#grouping using user_ids as userbased collabarative system
grouped= df.groupby(["user_id"])
nf = grouped.aggregate(lambda x: tuple(x))
users= df.user_id.unique().tolist()

challenges= challenge_df.challenge_ID.unique().tolist()
challenge_df= pd.DataFrame(columns= challenges,index=users)
challenge_df.fillna(0,inplace=True)

#creating train users vs challenges df vector 
for user in list(challenge_df.index):
    for train_challenges in nf.loc[user]:
        for train_challenge in train_challenges:
            challenge_df.loc[user][train_challenge]=1

In [ ]:
#taking first 10k samples from test data
test_df= test_df[:10000]
test_df = test_df[["user_id","challenge"]]

grouped= test_df.groupby(["user_id"])
test_nf = grouped.aggregate(lambda x: tuple(x))
test_users= test_df.user_id.unique().tolist()

test_challenge_df= pd.DataFrame(columns= challenges,index=test_users)
test_challenge_df = test_challenge_df.fillna(0)

#creating test users vs challenges df vector 
for user in list(test_challenge_df.index):
    for challenges in test_nf.loc[user]:
        for challenge in challenges:
            test_challenge_df.loc[user][challenge]=1

In [16]:
challenge_df.head() # train data vs challenges vectors df

,CI23478,CI23479,CI23480,CI23481,CI23482,CI23483,CI23484,CI23485,CI23486,CI23487,...,CI29074,CI29075,CI29076,CI29077,CI29078,CI29079,CI29080,CI29081,CI29082,CI29083
4576,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4580,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4581,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4582,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4585,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [17]:
challenge_df.to_pickle("D:\\grey work\\data_sets\\mckinesy_recommendation_dataset\\mckinesy_recommendation_dataset\\final_matrix.pkl")

In [51]:
test_challenge_df.head() # test data vs challenges vectors df

,CI23478,CI23479,CI23480,CI23481,CI23482,CI23483,CI23484,CI23485,CI23486,CI23487,...,CI29074,CI29075,CI29076,CI29077,CI29078,CI29079,CI29080,CI29081,CI29082,CI29083
4577,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4578,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4579,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4583,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4584,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [ ]:
test_challenge_df.to_pickle("D:\\grey work\\data_sets\\mckinesy_recommendation_dataset\\mckinesy_recommendation_dataset\\final_matrix_test.pkl")